<header>
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo">manueee13 - welcome (˶˃ ᵕ ˂˶) .ᐟ.</a>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/writeups">writeups</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="https://mntcrl.it">My Team!</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
