<aside class="sidebar">
  <div class="widget">
    <h3>categories</h3>
    <ul>
      <li><a href="#">web <span class="count">0</span></a></li>
      <li><a href="#">crypto <span class="count">0</span></a></li>
      <li><a href="#">pwn <span class="count">0</span></a></li>
      <li><a href="#">reverse <span class="count">0</span></a></li>
      <li><a href="#">osint <span class="count">0</span></a></li>
      <li><a href="#">misc <span class="count">0</span></a></li>
    </ul>
  </div>
  <div class="widget">
    <h3>recent ctfs</h3>
    <ul>
    </ul>
  </div>
</aside>
